@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url ('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Indie+Flower&display=swap');
body {
    font-family: 'IM Fell English', cursive;
    color: teal;
    text-align: center;
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: purple;
    text-align: center;
}

.cover-image {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.about-author {
    font-family: 'Comic Sans MS', cursive;
    color: pink;
}

.thank-you {
    font-size: 18px;
    color: coral;
}
